<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    

    <h1>index<h1> 

    <li role="presentation"><a href="/users/login"/>Login<a/></li>
      
    <li role="presentation"><a href="/users/register"/>Registro<a/></li> 

    <li role="presentation"><a href="/users/listaPersonal"/>lista personal<a/></li> 

  </body>
</html>