doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title app05-index
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
  body
    h1 Hola, Bienvenido al Home
    form(action='/login', method='post')
      input(type='submit', value='Enviar')
