<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>app05-index</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Jade - node template engine</h1>
    <form action="/login" method="post">
      <div class="form-group">
        <label for="Email">Email</label>
        <input id="Email" name="email" type="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input id="Password" name="Password" type="password" placeholder="Password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-info">Sign in</button>
      </div>
    </form>
  </body>
</html>