<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>app05-index</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1><%= title%></h1>
    <% if ( !sw ){%>
    <form action="/user" method="post">
      <div class="form-group">
        <label for="usuario">Usuario</label>
        <input id="usuario" name="usuario" type="text" placeholder="usuario">
      </div>
      <div class="form-group">
        <label for="Password">Contraseña</label>
        <input id="Password" name="Password" type="password" placeholder="Contraseña">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-info">Sign in</button>
      </div>
    </form>
    <%} else {%>
      <h1><%= "sesion iniciada"%></h1>
    <%}%>
  </body>
</html>